@CHARSET "ISO-8859-1";

#dataset-ajax-tabs button{
    border-bottom: 2px solid #BBBBBB;
    border-collapse:separate;
    height: 30px;
    width: 100px;
    line-height: normal;
    list-style: none outside none;
    margin: 1px;
    padding: 3px;
    white-space: nowrap;
    text-align: center;
    font-size: 1.1em;
    background-color: #DDDDDD;
}
#dataset-ajax-tabs li {
    background-image: none;
    margin: 0;
    padding: 0;
    display: inline;
}
#dataset-ajax-tabs li.active a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #BBBBBB #BBBBBB #FFFFFF;
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    text-decoration: none;
}
#dataset-ajax-tabs li a {
    background-color: #E6E6E6;
    border-color: #BBBBBB;
    border-style: solid solid none;
    border-width: 1px;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    text-decoration: none;
}


#dataset-ajax-tabs #Items {
    background-color: #FFFFFF;
	
}

#data-items-table td {
    padding:8px;
    
}
#descrpt-table td {
    padding:15px;
   
}


